@import 'tailwindcss';

html,
#root {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: ui-sans-serif, system-ui, sans-serif;
  background-color: #f5f5f5;
  color: #171717;
}

.dark body {
  background-color: #171717;
  color: #fafafa;
}

